html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(180, 52%, 96%);
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  color: hsl(180, 29%, 50%);
}

.flex-row {
  display: flex;
  align-items: center;
}
header {
  height: 15vh;
  background-color: hsl(180, 29%, 50%);
  background-image: url("./images/bg-header-desktop.svg");
  position: relative;
}

@media screen and (max-width: 375px) {
  header {
    background-image: url("./images/bg-header-mobile.svg");
  }
}

.container {
  width: 75%;
  margin: 10px auto;
  position: relative;
}

body > .container:first-of-type {
  margin: 0 auto 80px auto;
}

.search-bar-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 97%;
  height: 65px;
  position: absolute;
  bottom: -34px;
  background-color: white;
  border-radius: 7px;
  padding: 0px 1.5%;
}

.labels-selected {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar-section > * {
  border-radius: 7px;
}

.filter-input,
.filter-input:focus {
  flex-grow: 1;
  border: none;
  padding-left: 10px;
  outline: none;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
}

.clear-button {
  margin: 0;
  padding: 8px 6px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.job-post {
  display: flex;
  align-items: center;
  border-radius: 7px;
  padding: 45px 0px 45px 0px;
  margin: 30px 0;
  background-color: white;
  box-shadow: 1px 38px 144px -33px rgba(123, 142, 142, 1);
  -webkit-box-shadow: 1px 38px 144px -33px rgba(123, 142, 142, 1);
  -moz-box-shadow: 1px 38px 144px -33px rgba(123, 142, 142, 1);
}

.job-post:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 8px;
  background-color: hsl(180, 29%, 50%);
  border-radius: 7px 0 0 7px;
}

/* JOB POST's INFORMATION */
.job-info-section {
  display: flex;
  justify-content: start;
  gap: 30px;
  padding-left: 40px;
  flex-basis: 50%;
}

.logo {
  width: 100px;
}

.job-data {
  display: flex;
  flex-direction: column;
}

.company-name {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.job-alerts {
  gap: 10px;
}

.new-post,
.featured-job {
  font-size: 0.7rem;
  color: hsl(180, 52%, 96%);
  font-weight: 700;
  padding: 6px 8px;
  border-radius: 15px;
}

.new-post {
  background-color: hsl(180, 29%, 50%);
}

.featured-job {
  background-color: black;
}

.position {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 19px 0 0 0;
  cursor: pointer;
  color: hsl(180, 14%, 20%);
}

.position:hover {
  color: hsl(180, 29%, 50%);
}

.position + div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: hsl(180, 8%, 52%);
}

.small-circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: hsl(180, 8%, 52%);
}

.job-labels-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  flex-grow: 1;
  padding: 0 20px;
}

.label,
.selected-label {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  padding: 8px 6px;
  border-radius: 5px;
  background-color: hsl(180, 52%, 96%);
  margin: 0;
  display: block;
}

.label:hover {
  color: hsl(180, 52%, 96%);
  background-color: hsl(180, 29%, 50%);
}

#no-data-found-div {
  text-align: center;
  background: -webkit-linear-gradient(hsl(180, 29%, 50%), hsl(180, 3%, 55%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#no-data-found-div > * {
  text-shadow: 0px 12px 9px rgba(36, 82, 18, 0.71);
}

@media screen and (max-width: 1150px) {
  .job-info-section {
    flex-basis: 80%;
  }
}

@media screen and (max-width: 830px) {
  .labels-selected {
    flex-wrap: wrap;
    gap: 5px;
  }
  .selected-label,
  .clear-button,
  .filter-input {
    font-size: 0.6rem;
    padding: 3px;
  }

  .job-post {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 45px 20px;
  }

  .logo {
    width: 60px;
  }

  .logo-div {
    position: absolute;
    top: -25px;
  }

  .job-info-section,
  .job-labels-section {
    width: 100%;
    padding: 0;
    justify-content: flex-start;
  }

  .job-info-section {
    border-bottom: 1px solid black;
    border-color: rgba(123, 142, 142, 1);
    margin-bottom: 20px;
  }

  .position {
    font-size: 1rem;
  }
}

.hidden {
  display: none;
}
